// Page where the activity is confirmed by the user and then submitted

.panel-confirm-activity {
  label {
    margin: 0;
    font-weight: bold;
  }
  .activity-field-value {
    margin-bottom: 10px;
    font-size: 18px;
  }
  button {
    margin: 0;
  }
}
