// General page and containers

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  background-color: $blue;
}

// Older browsers that don't recognize <main> will treat it as an inline element
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
}

a {
  color: $blue;
  text-decoration: none;
}

// Global app header

$header-padding-x: 10px;
.app-header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding: 12px $header-padding-x;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.app-logo {
  $icon-size: 50px;
  width: $icon-size;
  height: $icon-size;
  margin-right: $header-padding-x;
  vertical-align: middle;
}
.app-title {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: $blue;
  text-transform: none;
  vertical-align: middle;
}
.app-nav {
  flex-grow: 1;
  text-align: right;
  li {
    display: inline-block;
    list-style-type: none;
  }
  a {
    padding: 10px 20px;
  }
}

// Section headings (to denote hierarchy)

h1, h2, h3 {
  text-transform: uppercase;
  color: $blue;
}

// Error messages

p.error {
  color: $red;
  font-weight: bold;
}
