// General page and containers

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $blue;
}

// Older browsers that don't recognize <main> will treat it as an inline element
main {
  display: block;
}

// Global app header

.app-header {
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.app-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: $blue;
  text-transform: none;
}

// Section headings (to denote hierarchy)

h1, h2, h3 {
  text-transform: uppercase;
  color: $blue;
}
