// General page and containers

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  background-color: $blue;
}

// Older browsers that don't recognize <main> will treat it as an inline element
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
}

a {
  color: $blue;
  text-decoration: none;
}

// Section headings (to denote hierarchy)

h1, h2, h3 {
  text-transform: uppercase;
  color: $blue;
}

// Error messages

p.error {
  color: $red;
  font-weight: bold;
}

// Icon representing a "completed" process (usually a checkmark)
img.completed {
  display: block;
  $icon-size: 100px;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;
}
