// Loading indicator

// Define the a spinning/throbbing animation for the indicator
@keyframes loading {
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  $icon-size: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.25;
  margin-top: -$icon-size / 2;
  margin-left: -$icon-size / 2;
  width: $icon-size;
  height: $icon-size;
  fill: none;
  stroke: $blue;
  stroke-width: 8;
  stroke-linecap: round;
  animation: loading 1000ms linear infinite;
}
