// Generic floating panels

.panel {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

// Sign In Panel

.panel-sign-in {
  width: 320px;
  height: 300px;
}
