// "When" page where user can select activity date/time

.when-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flatpickr-calendar {
  box-shadow: 0 2px 20px rgba(#000, 0.5) !important;
}
